#text {
    color: red;
}
div {
    display: flex;
    flex-direction: column;
    max-width: 30%;
}
button {
    margin-top: 20px;
    width: 70px;
    text-align: center;
}
input {
    width: 100px;
}