* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #002f87;
    padding: 10px 20px;
    color: white;
    flex-wrap: wrap;
  }
  
  .header-left .logo {
    height: 40px;
  }
  
  .header-center .nav ul {
    display: flex;
    gap: 20px;
  }
  
  .header-center .nav li {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
  }
  
  .header-center .nav img {
    width: 20px;
    height: 20px;
  }
  
  .header-right {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  
  .header-right .level {
    padding: 5px 10px;
    border-radius: 8px;
    font-size: 15px;
    width: 200px;
    text-align: center;
    background: linear-gradient(to right, #147491 30%, #00c8fa 30%);
  }
  
  .header-right .icon img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
  .header-right .credits {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
    color: white;
  }
  
  .header-right .credits img {
    width: 30px;
    height: 30px;
  }
  
  .header-right .credits h1 {
    font-size: 16px;
    margin: 0;
  }
  
  .header-right .icon img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #e2e5e8;
  color: #333;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.container .one {
  margin-bottom: 20px;
}
.container .left {
  margin-bottom: 100px;
  margin-right: 20px;
}
.table {
  display: flex;
}
.tablo {
  text-align: center;
  border-collapse: collapse;
  background-color: white;
  box-shadow: 2px 2px gray;
  width: 100%;
  height: 200px;
}
.tablo td, .tablo th {
  padding: 5px 10px;
  border-bottom: 2px solid #d9d1d1;
  height: 65px;

}
.tablo td {
  font-size: 14px;
}
.tablo th {
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  color: rgb(171, 171, 171);
  margin-top: 10px;
}
.tablo td button {
  border: none;
  width: 100px;
  height: 27px;
  background-color: rgb(0, 174, 93);
  border-radius: 5px;
  color: white;
}
.tablo .bekijk{
  border-top: solid 2px #d9d1d1;
}
th:last-child {
  width: 250px;
}
.right {
  display: flex;
  width: 23%;
  height: 450px;
  margin-top: 20px;
  margin-right: 130px;
}
.right .card {
  background-color: white;
  border-radius: 10px;
  border: solid #e2e5e8;
  
}
.right .card img {
  display: block;
  width: 250px;
  margin: auto;
}
.right .card p {
  font-size: 18px;
  padding: 20px;
  line-height: 30px;
}
.right .card h2 {
  font-size: 30px;
  margin-top: 20px;
  margin-left: 20px;
}