body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

/* Header kısmı */
#header {
    text-align: center;
    margin-bottom: 30px;
}

#header h1 {
    font-size: 3em;
    color: #333;
    font-weight: bold;
}

#header p {
    font-size: 1.2em;
    color: #555;
}

#header a {
    text-decoration: none;
    color: #4CAF50;
    font-weight: bold;
}

#header a:hover {
    text-decoration: underline;
}

/* Blog postları */
.post {
    background-color: #fff;
    margin-bottom: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    overflow: hidden;
}

.post .header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post .header h2 {
    font-size: 2em;
    color: #333;
    margin: 10px 0;
}

.post .post-image {
    width: 100%;
    max-width: 600px;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
}

.post .details {
    display: block;
    font-size: 1em;
    color: #777;
    margin-bottom: 10px;
}

.post p {
    font-size: 1.1em;
    line-height: 1.6;
    color: #333;
}