/* general styling start */
body,
html {
  height: 100%;
}

.hero-image {
  background-image: linear-gradient(rgba(140, 140, 140, 0.5), rgba(116, 114, 114, 0.5)), url("../images//icons/hero.png");
  height: 60%;
  background-position: center;
  background-size: cover;
  position: relative;
}
.navbar {
  background-color: rgb(255, 170, 0);
}
#nav {
  font-family: SF Pro Text,
    SF Pro Icons,
    Helvetica Neue,
    Helvetica,
    Arial,
    sans-serif;
}

.navbar-toggler {
  width: 15px;
  height: 15px;
  position: relative;
  transition: .5s ease-in-out;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
  border: 0;
}

.navbar-toggler span {
  margin: 0;
  padding: 0;
}

.toggler-icon {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: black;
  border-radius: 1px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.middle-bar {
  margin-top: 0;
}

.navbar-toggler .top-bar {
  margin-top: 0;
  transform: rotate(135deg);
}

.navbar-toggler .middle-bar {
  opacity: 0;
}

.navbar-toggler .bottom-bar {
  margin-top: 0;
  transform: rotate(-135deg);
}

.navbar-toggler.collapsed .top-bar {
  margin-top: -20px;
  transform: rotate(0deg);
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 100;
}

.navbar-toggler.collapsed .bottom-bar {
  margin-top: 20px;
  transform: rotate(0deg);
}

.navbar-toggler .toggler-icon {
  background-color: black;
}

.nav-link:hover {
  color: whitesmoke;
}

.dropdown-menu.dropdown-menu-end {
  padding: 0;
  min-width: 100px;
}

.dropdown-item:hover {
  background-color: rgb(223, 150, 4);
  color: white;
}

.nav-tab {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 200px;
}

.buttons {
  background-color: black;
  color: white;
  padding: 5px 10px;
}

.buttons:hover {
  box-shadow: 0 0 10px black;
  background-color: whitesmoke;
  color: black;
}

.card {
  background-color: #EDEFF0;
}
.form {
  background-color: rgb(255, 170, 0);
}
#canvas {
  max-width: 300px !important;
}

.search:focus {
  box-shadow: none;
}

/* general styling end */

/* Home page styling start*/

/* Home page styling */