.tooltip:hover{
    background-color: black;
    color: white;
}
p:hover {
    background-color: black;
    color: white;
}
h2:hover{
    background-color: black;
    color: rgb(255, 255, 255);
}
.icon {

    width: 50px;
    height: 50px;
}
.tooltip {
    position: sticky;
    top: 10px;
    left: 10px;
}
.tooltip-content {
    display: none;

}
.tooltip:hover .tooltip-content {
    display: block;

}