.navbar {
    display: flex;
    background-color: orange;
    justify-content: space-around;
    color: white;
    flex: auto;
}
.content {
    font-size: 25px;
}
.news h1{
    text-align: center;
}
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}